@charset "utf-8";

@use "../../settings/variables" as *;
@use "../../settings/mixins" as *;

.toc{
  border: 1px solid #333;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  @include media(sm){
    padding: 20px;
    border-radius: $radius-default;
  }

  .toc-title{
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: size(20);
    border-bottom: 1px solid #333;
    @include media(lg){
      margin-bottom: 15px;
    }
  }

  .toc-list{
    a{
      color: #222;
      text-decoration: none;
      &:hover{
        color: $color-secondary;
      }
    }
    li{
      margin-top: 12px;
      margin-bottom: 12px;
      ul{
        margin-left: 1em;
        ul{
          margin-left: 1em;
        }
      }
    }
  }

  .contentstable-number{
    color: #d6a15a;
  }
}